.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(187, 196, 155);
}

.menu-items{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(44, 21, 3);
    font-weight: 500;
    font-size: 1em;
}

