.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(187, 196, 155);
}
.header img{
    width: 50px;
    border-radius: 5px;
    height: 80px;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


