.blog-container{
    padding: 100px;
}
.blog-container h4{
   text-align: left;
   margin-bottom: 10px;
}
.answer2{
    display: flex;
    flex-direction: column;
}
.answer2 img{
    min-width: 50%;
  
    border-radius: 0;
}
.single-question{
    margin-bottom: 50px;
}